;; shadow-cljs configuration
{:source-paths
 ["cljs"]

 :dependencies
 []

 :nrepl {:port 8450}
 :dev-http {7777 "public"}
 :fs-watch {:hawk false}

 :builds
 {:node {:target :node-library
         :output-to "cljs_dist/node/index.js"
         :exports {:merge node.core.fn/merge}}

  :web {:target :browser
        :output-dir "cljs_dist/web"
        :asset-path "/js"
        :modules {:cljs {:entries [web.core.fn]}}}
  
  :node-core {:target :node-library
              :output-to "cljs_dist/core/node/index.js"
              :exports {:merge cljs.merge.core/merge}}

  :node-web {:target :browser
             :output-dir "cljs_dist/core/web"
             :asset-path "/js"
             :modules {:cljs {:entries [cljs.merge.core]}}}}}